		noscript {
		display: none;
		}
		
		#JSwarning a, #JSwarning a:hover {
		font-family: sans-serif;
		}
		
		#JSwarning {
		display: block;		
		color: #fff;
		background-color: #aa0000; 
		line-height: 1.5em;
		width: 100%;
		text-align: center;
		font-family: sans-serif;
		padding: 5px 0px 5px 0px;
		}
		
		#JSwarning a {
		color: #fff;
		}
